body {
	background-color: #f8f9fa;
}
.login-container {
	margin-top: 100px;
}

.gallery {
	margin: 50px;
}

h3 {
	font-family: "Trebuchet MS";
}

li {
	font-weight: bold;
}

.menu-gauche {
	width: 60px; /* Largeur du menu */
	background-color: #333; /* Couleur d'arrière-plan */
	color: #fff; /* Couleur du texte */
	padding: 10px; /* Rembourrage interne */
	position: fixed; /* Positionnement fixe */
	top: 0; /* Positionnement en haut */
	left: 0; /* Positionnement à gauche */
	height: 100vh; /* Hauteur totale de la fenêtre */
	margin: 0; /* Marge */
}

.menu-gauche ul {
	list-style: none; /* Supprimer les puces par défaut */
	margin: 0; /* Marge interne */
	padding: 0; /* Rembourrage interne */
}

.menu-gauche li {
	margin-bottom: 10px; /* Marge entre les éléments du menu */
}

.menu-gauche a {
	text-decoration: none; /* Supprimer le soulignement */
	color: #fff; /* Couleur du texte des liens */
	display: block; /* Afficher les liens sur une seule ligne */
	padding: 8px 10px; /* Rembourrage des liens */
}
