body {
	background-color: #f8f9fa;
}

.gallery {
	margin: 50px;
}

.submenu a,
#link-hk {
	font-family: "Trebuchet MS";
	font-weight: bold;
	color: white;
}

.container-slide {
	height: 1200px;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

.content {
	opacity: 0; /* Initially hide all content sections */
	transition: opacity 0.5s ease-in-out; /* Define animation properties */
}

.content.active {
	opacity: 1; /* Make the active content section fully visible */
}

.sticky-menu {
	position: sticky; /* This makes the element sticky */
	top: 0; /* Positions it at the top of the viewport */
	z-index: 100; /* Ensures the header stays on top of content */
}

nav {
	width: 100%; /* Adjust width as needed */
	padding: 0;
}

nav {
	width: 100%; /* Adjust width as needed */
	min-height: fit-content;
	z-index: 20;
	padding: 0 !important;
}

nav ul {
	display: flex; /* Or use float: left; */
	list-style: none; /* Remove default bullet points */
	padding: 0;
	margin: 0;
}

nav li {
	margin-right: 10px; /* Adjust spacing */
	padding: 10px; /* Adjust padding */
}

nav li a {
	text-decoration: none;
	color: #000;
}

nav li ul.submenu {
	/* Target sub-menu class */
	display: none;
	position: absolute; /* Position sub-menu below main item */
	background-color: #fff; /* Set background color */
	padding: 10px; /* Adjust padding */
	list-style: none; /* Remove default bullet points */
}

nav li:hover ul.submenu {
	/* Show sub-menu on hover */
	display: block;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background-color: #343a40;
	font-family: "Trebuchet MS";
	font-weight: bold;
	color: white;
}

footer p {
	margin-top: 1rem;
}

/* Styles for portrait mode */
@media only screen and (max-width: 600px) and (orientation: portrait) {
	nav {
		max-height: 50px;
		padding: 0px !important;
	}

	nav li a {
		padding: 0px !important;
		margin-left: 5px;
	}

	nav li ul.submenu {
		padding: 10px 0;
	}
}

/* Styles for landscape mode */
@media only screen and (max-height: 600px) and (orientation: landscape) {
	nav {
		max-height: 50px;
		padding: 0px !important;
	}

	nav li a {
		padding: 0px !important;
		margin-left: 5px;
	}

	nav li ul.submenu {
		padding: 10px 0;
	}
}
