body {
	background-color: #f8f9fa;
}

.gallery {
	margin: 50px;
}

.submenu a,
#link-hk {
	font-family: "Trebuchet MS";
	font-weight: bold;
	color: white;
}

.container-slide {
	height: 1200px;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

.content {
	opacity: 0; /* Initially hide all content sections */
	transition: opacity 0.5s ease-in-out; /* Define animation properties */
}

.content.active {
	opacity: 1; /* Make the active content section fully visible */
}

.back-to-top-button {
	position: fixed;
	bottom: 1rem; /* Adjust position as needed */
	right: 1rem;
	background-color: #333;
	color: #fff;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	opacity: 0; /* Hide initially */
	transition: opacity 0.3s ease;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background-color: #343a40;
	font-family: "Trebuchet MS";
	font-weight: bold;
	color: white;
}

footer p {
	margin-top: 1rem;
}
