.slider {
	height: 70vh;
	background: #eaeaea;
	overflow: hidden;
	display: grid;
	place-items: center;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	position: relative;
	width: 100%;
	height: 80%;
	background: #f5f5f5;
	box-shadow: 0 30px 50px #dbdbdb;
}

.container .slide .item {
	width: 100px;
	height: 150px;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	border-radius: 20px;
	box-shadow: 0 30px 50px #505050;
	background-position: 50% 50%;
	background-size: cover;
	display: inline-block;
	transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
	top: 0;
	left: 0;
	transform: translate(0, 0);
	border-radius: 0;
	width: 100%;
	height: 100%;
}

.slide .item:nth-child(3) {
	left: 90%;
}

.slide .item:nth-child(4) {
	left: calc(90% + 150px);
}

.slide .item:nth-child(5) {
	left: calc(90% + 270px);
}

.slide .item:nth-child(n + 6) {
	left: calc(90% + 390px);
	opacity: 0;
}

.item .content {
	position: absolute;
	top: 50%;
	left: 100px;
	width: 300px;
	text-align: left;
	color: #eee;
	transform: translate(0, -50%);
	font-family: system-ui;
	display: none;
}

.slide .item:nth-child(2) .content {
	display: block;
}

.content .name {
	font-size: 40px;
	text-transform: uppercase;
	font-weight: bold;
	opacity: 0;
	animation: animate 1s ease-in-out 1 forwards;
}

.content .des {
	margin-top: 10px;
	margin-bottom: 20px;
	opacity: 0;
	animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button {
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	opacity: 0;
	animation: animate 1s ease-in-out 0.6s 1 forwards;
}

@keyframes animate {
	from {
		opacity: 0;
		transform: translate(0, 100px);
		filter: blur(33px);
	}

	to {
		opacity: 1;
		transform: translate(0);
		filter: blur(0);
	}
}

.button {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 20px;
}

.button button {
	width: 40px;
	height: 35px;
	border-radius: 8px;
	border: none;
	cursor: pointer;
	margin: 0 5px;
	border: 1px solid #000;
	transition: 0.3s;
}

.button button:hover {
	background: #ababab;
	color: #fff;
}

.menu-gauche {
	width: 200px; /* Largeur du menu */
	background-color: #333; /* Couleur d'arrière-plan */
	color: #fff; /* Couleur du texte */
	padding: 10px; /* Rembourrage interne */
	position: fixed; /* Positionnement fixe */
	top: 0; /* Positionnement en haut */
	left: 0; /* Positionnement à gauche */
	height: 100vh; /* Hauteur totale de la fenêtre */
	margin: 0; /* Marge */
	margin-left: -160px; /* Marge */
}

.menu-gauche ul {
	list-style: none; /* Supprimer les puces par défaut */
	margin: 0; /* Marge interne */
	padding: 0; /* Rembourrage interne */
}

.menu-gauche li {
	margin-bottom: 10px; /* Marge entre les éléments du menu */
}

.menu-gauche a {
	text-decoration: none; /* Supprimer le soulignement */
	color: #fff; /* Couleur du texte des liens */
	display: block; /* Afficher les liens sur une seule ligne */
	padding: 8px 10px; /* Rembourrage des liens */
}

.menu-gauche a:hover {
	/* Style au survol de la souris */
	background-color: #555; /* Couleur d'arrière-plan au survol */
}
main:hover .menu-gauche {
	z-index: 10;
	display: block; /* Afficher le menu au survol */
	margin-left: 0px; /* Marge */
	opacity: 0.8;
}
